<script>
    import { onMount } from "svelte";

    import TopMenu from "../Components/TopMenu.svelte";
    import Loader from "../Components/Loader.svelte";
  
    import Intro from "./Flow/Intro.svelte";
    import Choice from "./Flow/Choice.svelte";
    import Builder from "./Flow/Builder.svelte";
  
    
    let views = {
        intro: {component: Intro},
        choice: {component: Choice},
        builder: {component: Builder},
    }

    let current_view = views.intro;
    let gift_type;

    function init() {
        current_view = views.intro;
    }

    function switch_view(event) {
        switch(event.detail.id) {
            case "intro-finished":
                current_view = views.choice;
                break;
            case "box":
            case "card":
                current_view = views.builder;
                gift_type = event.detail.id;
                break;
            default:
                throw new Error(`Undefined calleer ${event.detail.id}`);
        }
    }

    let loading = false;
    onMount(async() => {
        loading = true;
        init();
        loading = false;
    })


</script>

<svelte:head>
    <title>Surpriz.io | make it a good gift</title>
</svelte:head>

<div class="select-none relative flex flex-col items-top justify-start min-h-screen bg-gray-100/50 dark:bg-gray-900 sm:items-center sm:pt-0 text-gray-70">
    <TopMenu on:restart={init}/>
    <Loader is_active={loading}/> 
    <svelte:component this={current_view.component} type={gift_type} on:forward={switch_view}></svelte:component>

       
</div>


