<script>
    import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();
    
    let className;
    export { className as class };
    export let id = 'default-button';
    export let type = "submit";

    function submit() {
        dispatch('submit', {id})
    }

</script>

<button
on:click={submit}
    {id}
    {type}
    class="{className} inline-flex items-center px-4 py-2 bg-[#5AB7C9] border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-violet-700 active:bg-violet-900 focus:outline-none focus:border-violet-900 focus:shadow-outline-gray transition ease-in-out duration-150"
    {...$$restProps}
>
    <slot />
</button>
