<script>
    let className;
    export let is_active = false;
    export {className as class};
</script>


<div class="{is_active ? 'flex' : 'hidden'} back w-screen h-screen fixed z-50 bg-violet-100 justify-center items-center {className}">
    <span class="loader"></span>
</div>

<style>

    .back {
        background: linear-gradient(90deg, rgba(254,172,94,1) 0%, rgba(199,121,208,1) 50%, rgba(75,192,200,1) 100%);
    }

    .loader {
        position: relative;
        width: 48px;
        height: 48px;
        background: #de3500;
        transform: rotateX(65deg) rotate(45deg);
        transform: perspective(200px) rotateX(65deg) rotate(45deg); 
        color: #fff;
        animation: layers1 1s linear infinite alternate;
    }

    .loader:after {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(255, 255, 255, 0.7);
        animation: layerTr 1s linear infinite alternate;
    }

    @keyframes layers1 {
        0% {
            box-shadow: 0px 0px 0 0px
        }

        90%,
        100% {
            box-shadow: 20px 20px 0 -4px
        }
    }

    @keyframes layerTr {
        0% {
            transform: translate(0, 0) scale(1)
        }

        100% {
            transform: translate(-25px, -25px) scale(1)
        }
    }
</style>