<script>
    import Button from "./Button.svelte";
    import Label from "./Label.svelte";
    
    let fileinput, avatar;

    function upload() {

    }

    const onFileSelected =(e)=>{
        let image = e.target.files[0];
                    let reader = new FileReader();
                    reader.readAsDataURL(image);
                    reader.onload = e => {
                        avatar = e.target.result
                    };
    }

</script>


<div class="flex flex-col justify-center items-center bg-slate-400 w-full h-full">
    {#if avatar}
        <img class="avatar max" src="{avatar}" alt="d" />
    {:else}
        <Label for="upload-image-button" value="Upload art here" class="text-xl"></Label>
        <Button id="upload-image-button" class="mt-4" on:submit={()=>{fileinput.click();}}>Upload</Button>
    {/if}
    <input style="display:none" type="file" accept=".jpg, .jpeg, .png" on:change={(e)=>onFileSelected(e)} bind:this={fileinput} >
</div>

<style>
    .avatar{
		display:flex;
		height:70%;
		width:auto;
	}
</style>