<script>

</script>


<div class="absolute inset-0 top-20 flex flex-row w-56 h-screen">
    <div class="flex flex-col border-r h-full w-2/5">
        <slot name="col-1"></slot>
    </div>
    <div class="flex flex-col border-r h-full w-3/5">
        <slot name="col-2"></slot>
    </div>
</div>