<script>
    import { onDestroy, onMount } from "svelte";



    export let toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        ['blockquote', 'code-block'],
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'align': [] }],
        ['clean']                                         // remove formatting button
	];

    let editor;
    let quill;
    let options = { placeholder: "Write a poem to a loved one", modules:toolbarOptions }
    let content = { html: '', text: ''};
    // let textarea_placeholder = "";

    let engagement = {
        interval: undefined,
        iter: 0,
        mottos: [
            "Write a poem to a loved one",
            "Send link to a gift card",
            "Need to add something else",
        ]
    };


    onMount(async () => {
        engagement.interval = setInterval(() => {
            options.placeholder = engagement.mottos[engagement.iter];
            engagement.iter = engagement.iter + 1 < engagement.mottos.length ? engagement.iter + 1 : 0; 
            options = options;
        }, 2000);

        const { default: Quill } = await import("quill");
	
        quill = new Quill(editor, {
        modules: {
            toolbar: toolbarOptions
        },
        theme: "snow",
        placeholder: "Write your wishes..."
        });
    })

    onDestroy(() => {
        console.warn("here");
        clearInterval(engagement.interval);
        engagement.interval = undefined;
        engagement.iter = 0;
    })
</script>
<svelte:head>
	<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</svelte:head>
<button on:click={() => {console.warn(quill.root.innerHTML);
}}>Test</button>
<div class="editor" bind:this={editor}/>
<!-- <textarea placeholder="{textarea_placeholder}" class="resize rounded-md w-full h-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 shadow-sm" name="" id=""></textarea> -->