<script>
    import { createEventDispatcher } from "svelte";
    import Button from "./Button.svelte";

    const dispatch = createEventDispatcher()

    function restart() {
        dispatch('restart')
    }
    
</script>


<nav id="surprizio-menu" class="flex justify-between items-center inset-0 w-full max-h-20 h-20 shadow-md">
    <div class="flex items-center logo-container h-full md:w-96 w-full">
        <h1 class="flex items-center justify-center text h-full lg:px-16 px-8 sm:text-4xl lg:text-5xl text-2xl drop-shadow-md">Surpriz.io</h1>
    </div>
    
    <div class="px-8">
        <Button  type="button" id="restart" on:submit="{restart}">Restart</Button>
    </div>
</nav>

<style>
    .text {
        background-clip: text;
        -webkit-background-clip: text;
        color: rgba(0, 0, 0, 0.0);
    }

    h1 {
        user-select: none;
        font-family: 'Cherry Bomb Regular';
        background: rgb(254,172,94);
        background: linear-gradient(90deg, rgba(254,172,94,1) 0%, rgba(199,121,208,1) 50%, rgba(75,192,200,1) 100%);
    }

</style>