<script>
    import { createEventDispatcher, onMount } from "svelte";
    import { fly } from "svelte/transition";
    import Card from "../Builder/Card.svelte";
    import Box from "../Builder/Box.svelte";
    import Envelope from "../Builder/Envelope.svelte";
    

    export let type;
    
    
</script>


<div class="w-full" in:fly={{x:1000, duration: 1000}}>

    {#if type === "card"}
        <Card></Card>
    {:else if type === "box"}
        <Box></Box>
    {:else if type === "envelope"}
        <Envelope></Envelope>
    {:else}
        <h1>Whooppps</h1>
    {/if}

</div>


<style>

</style>