<script>
    import { createEventDispatcher } from "svelte";
    import { fade, fly } from "svelte/transition";

    const dispatch = createEventDispatcher();

    function choice(type) {
        dispatch('forward', {id: type})
    }
    
</script>

<div class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-8 h-auto"  in:fly={{x:1000, duration: 1000}}>
    <div class="flex flex-col max-w-xl text-center items-center mx-auto justify-center w-full py-12">
        <h1 class="text-3xl font-thin ">Wrap it up your way
            Choose your gift packaging</h1>
        <p class="pt-4 text-left">Add a personal touch to your gift by choosing from our selection of gift boxes, post carts, and envelopes. Select the option that fits your gift and occasion, and include a customized message.</p>
    </div>
    <div class="flex flex-row justify-evenly items-center flex-wrap gap-12 pb-4">
        <div class="flex flex-col cursor-pointer lg:w-auto w-full" on:click={() => { choice('box') }}>
            <div class="flex justify-center w-full">
                  <img class="max-w-md" src="/assets/gift_box.svg" alt="">
            </div>
        </div>
        <div class="flex flex-col cursor-pointer lg:w-auto w-full"  on:click={() => { choice('card') }}>
            <div class="flex justify-center w-full">
                <img class="max-w-md" src="/assets/gift_card.svg" alt="">
            </div>
        </div>
        <div class="flex flex-col cursor-pointer lg:w-auto w-full"  on:click={() => { choice('envelope') }}>
            <div class="flex justify-center w-full">
                <img class="max-w-md" src="/assets/envelope.svg" alt="">
            </div>
        </div>
    </div>
</div>


<style>
     h1 {
        font-family: 'Cherry Bomb Regular';
    }

    h1, p {
        color: #393939;
    }
</style>