<script>
    import { createEventDispatcher } from "svelte";
    import Button from "../../Components/Button.svelte";
    import { fly, fade } from "svelte/transition";

    const dispatch = createEventDispatcher();

    function forward(event) {
        console.warn("Intro forward", event);
        dispatch('forward', event.detail);
    }
    
</script>

<div class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-8"  in:fly={{x:1000, duration: 1000, delay: 200}}>
    <div class="flex justify-center py-4 w-full">
          <img class="w-[500px]" src="/assets/present_top.svg" alt="">
    </div>
    <div class="flex flex-col max-w-md items-center mx-auto justify-center w-full">
        <h1 class="text-3xl font-thin ">Unwrap happiness!</h1>
        <p class="pt-4">Wrap your digital gifts with love and creativity. Choose from a variety of customizable options, add a personalized message, and preview your gift before sending it. Our eco-friendly platform ensures guilt-free gifting. Start wrapping today and give your special surprise that will be cherished forever!</p>
    </div>
    <div class="flex justify-center pt-4 w-full">
        <Button on:submit={forward} id="intro-finished" type="button">Let's go!</Button>
    </div>
    <div class="flex justify-center py-4 w-full">
        <img class="w-[500px]" src="/assets/present_bottom.svg" alt="">
    </div>
</div>


<style>
    h1 {
        font-family: 'Cherry Bomb Regular';
    }

    h1, p {
        color: #393939;
    }
</style>