<script>
    import Button from "../../Components/Button.svelte";
    import PhotoUpload from "../../Components/PhotoUpload.svelte";
    import TextBox from "../../Components/TextBox.svelte";
    import Input from "../../Components/Input.svelte";
    import Label from "../../Components/Label.svelte";
    import { tools } from "../../../../mutators/src/main";
    import Loader from "../../Components/Loader.svelte";
    import SideMenu from "../../Components/SideMenu.svelte";
    import PreviewCard from "../../Compiled/PreviewCard.svelte";

    let menu = [
        {id: 1, label: "Style", name: "style"},
        {id: 2, label: "Content", name: "content"},
    ]

    let layouts = [
        {id: 1, preview: '/assets/card_layouts/one.svg'},
        {id: 2, preview: '/assets/card_layouts/two.svg'},
        {id: 3, preview: '/assets/card_layouts/three.svg'},
    ]

    let loading = false;
    let current_layout = layouts[0].id;
    let current_menu = menu[0].id;

    async function change_menu_item(to_id) {
        loading = true;
        current_menu = to_id;
        // await tools.misc._timeout(50);
        loading = false;
    }

    async function change_layout(to_id) {
        loading = true;
        current_layout = to_id;
        await tools.misc._timeout(300);
        loading = false;
    }
    
</script>

<Loader bind:is_active={loading}/>
<div class="absoulte flex flex-row items-center justify-start w-full h-[calc(100vh-80px)] inset-0">
    <SideMenu>
        <span slot="col-1">
            <ul class="flex flex-col gap-4 justify-center items-center py-4 cursor-pointer p-0">
                {#each menu as item}
                    <li class="text-center p-4 w-full {current_menu === item.id ? 'bg-[#5AB7C9] text-white' : ''}" on:click={() => change_menu_item(item.id)}>{item.label}</li>
                {/each}
            </ul>
        </span>
        <span slot="col-2">
            {#if current_menu === 1}
                111
            {:else if current_menu === 2}
                {#each layouts as layout}
                    <img class="p-4 border cursor-pointer {current_layout === layout.id ? 'selected' : ''}" src="{layout.preview}" alt="" on:click={() => change_layout(layout.id)}>
                {/each}
            {:else}
                <h1>Woaaaahhhh</h1>
            {/if}
        </span>
    </SideMenu>
    <div class="flex flex-col h-full w-1/6 bg-zinc-100">
        
        <div class="border-purple-600"></div>
    </div>
    <div id="layout" class="relative w-5/6 h-full p-8 bg-zinc-200  flex flex-col">
        <div class="w-full max-w-4xl mx-auto">
            <div class="flex flex-row justify-end gap-8 p-4">
                <Button on:submit>Preview</Button>
                <Button>Save & Send</Button>
            </div>
            {#if current_layout === 1}
                <div class="flex flex-row h-full border-2 border-slate-400 p-6">
                    <div class="w-2/4 h-96">
                        <PhotoUpload></PhotoUpload>
                    </div>
                    <div class="w-2/4 h-[21.4rem]">
                        <TextBox></TextBox>
                    </div>
                </div> 
            {:else if current_layout === 2}
                <div class="flex flex-row h-full border-2 border-slate-400 p-6">
                    <div class="w-2/4 h-[21.4rem]">
                        <TextBox></TextBox>
                    </div>
                    <div class="w-2/4 h-96">
                        <PhotoUpload></PhotoUpload>
                    </div>
                </div> 
            {:else if current_layout === 3}
                <div class="flex flex-col h-full border-2 border-slate-400 p-6">
                    <div class="h-56">
                        <TextBox></TextBox>
                    </div>
                    <div class="h-48">
                        <PhotoUpload></PhotoUpload>
                    </div>
                </div>
            {:else}
                    <h1>Something went wrong. sorry :(</h1>
            {/if}
        </div>
        <div class="flex flex-col max-w-4xl w-full mx-auto px-4">
            <span title="This is optional; however, if message is confidential, it is strongly recommended">
                <Label for='input' value="Password Protection. [Optional] <b>(?)</b>"/>
            </span>
            <Input id="password"/>
        </div>
    </div>
    <PreviewCard></PreviewCard>
</div>


<style>
    .selected {
        background: #FBA964;
    }

    .selected_teal {
        background:#5AB7C9;
    }
</style>
